<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<span th:fragment="footbar">
        <footer class="footer">
            超市订单管理系统
        </footer>
        <script type="text/javascript" th:src="@{/js/time.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/calendar/WdatePicker.js}"></script>
    </body>
</span>
</html>